{% extends "smartportApp/shipper/shipper-base.html" %}
<!---->
{% load static %}

<!---->
{% block title %} Deliveries {% endblock %}
<!---->
{% block head %}
<link rel="stylesheet" href="{% static 'shipper/css/deliveries.css' %}" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}
<!---->
{% block sidebar %}
<!-- Sidebar -->
<div class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <i class="fas fa-anchor logo-icon"></i>
      <span class="logo-text">SmartPort</span>
      <button class="collapse-btn">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>

  <ul class="nav-menu">
    <li class="nav-item">
      <a href="{% url 'shipper-dashboard' %}" class="nav-link">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item expanded">
      <a href="" class="nav-link active">
        <i class="fas fa-ship"></i>
        <span>Vessels</span>
      </a>
      <ul class="nav-sub-menu" style="height: auto">
        <li>
          <a href="{% url 'vessel-info' %}" class="nav-sub-link">
            <i class="fas fa-list-ul"></i>
            <span>Vessels Info</span>
          </a>
        </li>
        <li>
          <a href="{% url 'deliveries' %}" class="nav-sub-link active">
            <i class="fas fa-truck-fast"></i>

            <span>Deliveries</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="{% url 'submit-shipment-view' %}" class="nav-link">
        <i class="fas fa-upload"></i>
        <span>Submit Shipment</span>
      </a>
      <ul class="nav-sub-menu">
        <li>
          <a href="#" class="nav-sub-link"
            ><i class="fas fa-list-alt"></i><span>Shipment History</span></a
          >
        </li>
        <li>
          <a href="#" class="nav-sub-link"
            ><i class="fas fa-edit"></i><span>Submit Shipment</span></a
          >
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="{% url 'shipper-incident-feed' %}" class="nav-link">
        <i class="fas fa-chart-bar"></i>
        <span>Incident Feed</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-cog"></i>
        <span>Settings</span>
      </a>
      <ul class="nav-sub-menu">
        <li>
          <a href="#" id="sidebarChangePassword" class="nav-sub-link">
            <i class="fas fa-key"></i>
            <span>Change Password</span>
          </a>
        </li>
        <li>
          <a href="#" id="sidebarEditProfileBtn" class="nav-sub-link">
            <i class="fas fa-user-edit"></i>
            <span>Edit Profile</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a id="SBlogout-btn" class="nav-link">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
<!-- Main Content -->

{% block content %}
<!-- Page Content -->
<div class="dashboard-content">
  <div class="page-header">
    <div class="page-title">
      <h1>Deliveries</h1>
      <p>View shipment history and confirm delivered cargo</p>
    </div>
  </div>

  <!-- SUBMANIFEST List Section -->
  <div class="submanifest-list-container" id="submanifest-list-section">
    <div class="submanifest-header">
      <div class="search-filter">
        <!--VESSEL TYPE-->
        <select class="form-select" id="vesselTypeSelect">
          <option value="all">All Vessel Types</option>
          <option value="container">Container Ships</option>
          <option value="ro_ro">Ro-Ro</option>
          <option value="general_cargo">General Cargo</option>
        </select>
      </div>

      <!--ORIGIN PORT-->
      <div class="search-filter">
        <select class="form-select" id="originPortSelect">
          <option value="all">Origin Port</option>
        </select>
      </div>

      <!--DESTINATION PORT-->
      <div class="search-filter">
        <select class="form-select" id="destinationPortSelect">
          <option value="all">Destination Port</option>
        </select>
      </div>

      <!--DATE PICKR WITH CLEAR BUTTON-->
      <div class="search-filter date-clear-wrapper">
        <input
          type="text"
          id="dateFilter"
          class="form-select"
          name="date"
          placeholder="Select Date"
          value="{{ filters.date }}"
          readonly
        />
        <span id="clearDateBtn" class="clear-date" title="Clear date filter"
          >&times;</span
        >
      </div>
    </div>

    <div class="submanifest-cards-container">
      <!---->
      {% for sub in submanifests %}

      <div
        class="submanifest-card"
        data-submanifest-id="{{ sub.submanifest_id }}"
      >
        <div class="submanifest-header">
          <div class="submanifest-card-icon">
            <i class="fas fa-file-invoice"></i>
          </div>
          <div class="submanifest-card-title">
            <h3>{{ sub.submanifest_number }}</h3>
            <p>{{ sub.consignor }} → {{ sub.consignee }}</p>
            <!--submanifest status-->
          </div>
        </div>
        <p class="submanifest-card-info">
          <strong>Created At:</strong>
          <!---->
          {{ sub.created_at|date:"M d, Y @ h:i A" }}
        </p>
        <p class="submanifest-card-info {{ sub.status }}">
          <strong>Status:</strong>
          <!---->
          {{ sub.status_display }}
        </p>

        <p class="submanifest-card-info {{ sub.clearance_status }}">
          <strong>Custom Clearance:</strong>
          <!---->
          {{ sub.clearance_status|title }}
        </p>
      </div>
      <!---->
      {% empty %}
      <div class="no-submanifest">
        <i class="fas fa-info-circle"></i>
        <p>No submanifest found.</p>
      </div>
      {% endfor %}
    </div>

    <div
      class="pagination-container {% if paginator.num_pages <= 1 %}hidden{% endif %}"
      id="pagination-container"
      data-total-pages="{{ paginator.num_pages }}"
      data-current-page="{{ current_page }}"
    >
      <button class="pagination-btn" id="prev-page-btn">«</button>
      <div id="pagination-window"></div>
      <button class="pagination-btn" id="next-page-btn">»</button>
    </div>
  </div>

  <div class="submanifest-cargo" style="display: none">
    <div class="submanifest-details-header">
      <h2>Cargos for <span id="submanifest-number-display"></span></h2>
      <div class="header-action-btn">
        <button
          class="btn view-clearance-btn"
          id="view-clearance-btn"
          style="display: none"
        >
          <i class="fas fa-file-alt"></i> View Clearance
        </button>
        <button class="btn back-to-list-btn" id="back-to-list-btn">
          <i class="fas fa-arrow-left"></i>
          Back to Reports List
        </button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="submanifest-table">
        <thead>
          <tr>
            <th>Item Number</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="cargo-tbody">
          <!-- <pre>{{ submanifests.0.cargo|safe }}</pre> -->

          {% for item in submanifests.0.cargo %}
          <tr>
            <td>{{ item.item_number }}</td>
            <td class="desc">{{ item.description }}</td>
            <td class="qty">{{ item.quantity }}</td>
            <td class="value">{{ item.value }}</td>
            <td>
              <span class="status-label" id="status-{{ item.id }}"
                >Loading...</span
              >
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No cargo available.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="submanifest-buttons">
      <a class="btn edit-submanifest-btn" id="edit-submanifest-btn">
        <i class="fas fa-pen"></i>
        Edit Submanifest
      </a>
    </div>
  </div>
</div>
<div id="toast-container"></div>
{% endblock %}
<!---->
{% block script %}
<script type="module" src="{% static 'shipper/js/deliveries.js' %}"></script>
<script
  type="module"
  src="{% static 'shipper/js/deliveries-pagination.js' %}"
></script>
<script
  type="module"
  src="{% static 'shipper/js/deliveries-search.js' %}"
></script>
{% endblock %}
